                <a class="text-secondary text-decoration-none fs-4" {{#if prev}}href="{{page_url prev}}"{{/if}}><i class="bi bi-arrow-return-left"></i></a>
                <a class="text-secondary text-decoration-none fs-4" {{#if next}}href="{{page_url next}}"{{/if}}><i class="bi bi-arrow-return-right"></i></a>