{{!< default}}

    <style>
        body {background-color: #F4F4F6;}
    </style>
    <div class="container">
        <div class="row d-flex flex-row">
            <!-- start --><div class="col-12">
                <p class="my-3 fw-light"><a href="/" class="text-secondary text-decoration-none"><i class="bi bi-arrow-return-left"></i> Index</a></p>
            </div><!-- end -->
            <!-- start --><div class="col-12">
                <div class="card overflow-hidden rounded-4 border-0">
                    <div class="d-flex align-items-center p-5 pb-3 text-secondary text-shadow-1 " style="height: 70vh;">
                        <div class="content w-100">
                            <div class="article text-center">
                                <img src="{{asset 'img/404.svg'}}" width="500" />
                                <p>&nbsp;</p>
                                <h1>Page Not Found</h1>
                                <p class="my-3 fw-light"><a href="/" class="text-secondary text-decoration-none"><i class="bi bi-arrow-return-left"></i> Go Index</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end -->
        </div>
    </div>